
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alan Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(
        ellipse 80% 60% at 50% 0%,
        rgba(120, 180, 255, 0.25),
        transparent 70%
      ),
      #000000;
      font-family: 'Alan Sans', sans-serif;
}
.calculatorWrapper{
    height: 450px;
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
#display{
    width: 100%;
    height: 60px;
    color: black;
    font-size: 2.3rem;
    border: none;
    text-align: right;

}
.buttonKeys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 30px 0 0 0;
    gap: 5px;
}
button{
    height: 60px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
}
.blueHighlight{
    color: rgb(0, 110, 255);
}